@font-face {
  font-family: "work-sans";
  src: url("../../fonts/work-sans/WorkSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "work-sans-bold";
  src: url("../../fonts/work-sans/WorkSans-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../../images/bg/candipari.png");
  background-size: auto 100%;
  background-position-x: center;
}

/* nav syle */
nav {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  font-family: work-sans-bold, sans-serif;
  font-size: .8em;
  color: white;
}

nav .logo {
  width: 40px;
}

/* main style */
main {
  font-family: work-sans, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding: 10px;
  text-align: center;
  color: white;
}

main *:not(.button) {
  text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
}

main h1 {
  font-size: 1.4em;
  line-height: 1.35em;
}

main span {
  color: #4b8352;
}

main p {
  line-height: 1.3em;
}

.button {
  padding: 7px 14px;
  background-color: #4b8352;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

@media print, screen and (min-width: 768px) {
  body {
    background-size: cover;
  }

  main {
    gap: 30px;
  }
}

@media print, screen and (min-width: 992px) {
  main {
    gap: 35px;
  }

  main h1 {
    font-size: 1.6em;
  }

  main p {
    font-size: 1.1em;
  }
}

@media print, screen and (min-width: 1200px) {
  body {
    background-position: 0 -100px;
  }

  main {
    gap: 40px;
  }

  main h1 {
    font-size: 1.8em;
  }

  main p {
    font-size: 1.15em;
  }
}