@font-face {
  font-family: "work-sans";
  src: url("../../fonts/work-sans/WorkSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "work-sans-bold";
  src: url("../../fonts/work-sans/WorkSans-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100vh;
  font-family: work-sans, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../images/bg/white-background.jpg);
  background-size: cover;
}

/* nav style */
nav {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: work-sans-bold, sans-serif;
  font-size: .8em;
  margin: 10px;
}

nav .logo {
  width: 40px;
}

h1 {
  text-align: center;
  font-size: 1.7em;
  margin-bottom: 15px;
  color: #6c9f6d;
}

form {
  display: flex;
  flex-direction: column;
}

input:not([type="submit"]) {
  display: block;
  margin-bottom: 10px;
}

label {
  margin-bottom: 5px;
}

input {
  border-radius: 5px;
  border: 1px solid #161b33;
  height: 28px;
  padding: 3px;
}

input[type="submit"] {
  width: auto;
  margin-top: 20px;
  background-color: #6c9f6d;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1em;
}

.input-password-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-password-container input {
  margin: 0;
}

.input-password-container img {
  position: absolute;
  right: 0;
  width: 1.3em;
  margin-right: 5px;
  cursor: pointer;
}

.warning {
  color: #ff746c;
  font-size: .9em;
  margin-top: 5px;
}

@media print, screen and (min-width: 992px) {
  h1 {
    margin-bottom: 25px;
  }

  main {
    width: 28em;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 10px;
    padding: 4em;
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
  }

  input {
    height: 30px;
  }

  input:not([type="submit"]) {
    margin-bottom: 15px;
  }

  .input-password-container input {
    margin: 0;
    width: 100%;
  }

  input[type="submit"] {
    margin-top: 25px;
  }

  label {
    margin-bottom: 10px;
  }
}